.contents.row
  .content_area
    .content_post{:style => "background-image: url(#{@post.image});"}
      - if user_signed_in? && current_user.id == @post.user_id
        .more
          %span= image_tag 'arrow_top.png'
          %ul.more_list
            %li
              = link_to '編集', edit_post_path(@post.id), method: :get
            %li
              = link_to '削除', post_path(@post.id), method: :delete
      %span.name
        %a{:href => "/users/#{@post.user.id}"}
          %span 投稿者
          = @post.user.nickname
    .content_digest
      .title
        %span= @post.title
      .content
        %details
          %summary
            要約・感想
          = @post.content
  .container
    - if current_user
      = form_with(model: [@post, @comment], local: true) do |form|
        = form.text_area :text, placeholder: "コメントする", rows: "2"
        = form.submit "SEND"
    - else
      %strong
        %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
    .comments
      %h4 ＜コメント一覧＞
      - if @comments
        - @comments.each do |comment|
          %p
            %strong
              = link_to comment.user.nickname, "/users/#{comment.user_id}"
              ：
            = comment.text
